{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<section>
    
    <h2>Chrust</h2>
    <h5 style="font-style: italic;"><a href="https://pl.wiktionary.org/wiki/Plik:Pl-chrust.ogg">[xrust]</a></h5>
    <p>
    <span> 
        Educational system empowering user with ability to explore audio signals through machine learning (tor<strong>ch</strong>)and </strong>rust</strong>.
    </span>

</section>

<section class="gif-section">
        <img src="/static/image.gif" alt="Animated demonstration" class="demo-gif" />
</section>

<section class="register-section">
    <div class="register-container">
        <h2>Register yourself!</h2>
        <p>By registering, you are agreeing to the <a href="/terms" class="explain-link" target="_blank" rel="noopener noreferrer">terms of use</a><</p>
        <form action="/register" method="post" class="register-form">
            <div class="form-group">
                <label for="username">Your name</label>
                <input
                    id="username"
                    placeholder="Your name..."
                    required
                    type="text"
                    name="username"
                />
            </div>
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>
</section>
{% endblock %}
